// FIGURES
figure {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  a {
    display: grid;
    overflow: hidden;
    border-radius: 0.25rem;
  }
  img {
    border-radius: 0.25rem;
  }
}


// FIGCAPTION


// GALLERIES
