// FOOTER
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 2rem;

  nav {
    ul {
      &:last-of-type {
        display: none;
      }
    }
  }

  .branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 2rem 0 0.5rem;

    svg {
      display: grid;
      width: 100%;
      max-width: 8rem;
    }
  }

  .copyright {
    width: 100%;
    padding: $p 0 0;
    text-align: center;

    small {
      max-width: none;
      font-size: $xsmall;
    }
  }
}

@media (min-width: 48rem) {
  footer {
    align-items: flex-end;

    nav {
      width: 80%;

      ul {
        &:last-of-type {
          display: flex;
        }
      }
    }

    .branding {
      align-items: flex-end;
      width: 20%;
      padding: 0;

      form {
        align-items: flex-end;
        max-width: 8rem;
      }
    }

    .copyright {
      text-align: right;
    }
  }
}

@media (min-width: 64rem) {
  footer {
    padding: 4rem 2rem 2rem;
  }
}

@media (min-width: 90rem) {
  footer {
    padding: 8rem 2rem 2rem;
  }
}