// NAVIGATION
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    width: calc((100% / 2) - 0.5rem);
    max-width: 16rem;
    padding: 0;
    list-style: none;

    li {
      line-height: 1.25;
      color: $orange;

      &:first-child {
        padding: 0;
        @include sans-bold;
        font-size: $xsmall;
        text-transform: uppercase;
        color: $green;
      }

      a {
        @include sans-regular;
      }

      svg {
        display: inline-grid;
        width: $p;
        height: $p;
      }
    }
  }
}