// FOOTERS
footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 2rem;
  .contact {
    width: 100%;
    padding: 0 0 1rem 0;
  }
  nav {
    width: 60%;
    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 0;
      font-size: $small;
      list-style-type: none;
      &:last-child {padding: 0;}
      li {
        ul {
          li {
            a {
              display: inline-flex;
              align-items: flex-start;
              @include sans-regular;
              @include transition(color, 0.25s, ease);
              &:after {display: none;}
              &:hover, &:focus {color: $orange;}
              svg {
                display: none;
                width: 0.75rem;
                height: 0.75rem;
                margin: 0 0 0 0.25rem;
              }
            }
            &.selected {
              color: $orange;
            }
            &:first-child {
              display: none;
              padding: 0.5rem 0 0;
              @include sans-bold;
              font-size: calc(0.875 * #{$xsmall});
              text-transform: uppercase;
            }
          }
        }
        ul.social {
          flex-direction: column;
          justify-content: flex-start;
          width: 100%;
          li {
            display: list-item;
            width: auto;
            //padding: 0.5rem 1.5rem 0.5rem 0;
            font-size: $small;
            text-transform: none;
            &:first-child {
              padding: 0.5rem 0;
            }
            &:last-child {
              padding: 0.5rem 0 0;
            }
          }
        }
      }
      li.work, li.projects {
        display: none;
      }
    }
    ul.footer-navigation {
      &:last-child {padding: 0;}
    }
  }
  .brand {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 40%;
    .logo {
      display: grid;
      width: 100%;
      color: $green;
      svg {
        width: 100%;
        max-width: 7.75rem;
        margin: 0 0 0 auto;
      }
    }
    .links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .github, .slack, .social {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        margin: 0 0.25rem;
        a {line-height: 0.7;}
        a svg {
          @include transition (all, 0.25s, ease);
        }
      }
    }
  }
  .copyright {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 1rem 0 0;
    text-align: center;
    p {
      max-width: none;
      font-size: $small;
    }
  }
}

@media (min-width: 35.5rem) {
  footer {
    .copyright {
      align-self: flex-end;
      text-align: right;
    }
  }
}

@media (min-width: 48rem) {
  footer {
    align-items: flex-end;
    justify-content: space-between;
    nav {
      width: calc(100% - 8rem);
      ul {
        flex-direction: row;
        justify-content: space-between;
        li {
          ul {
            flex-direction: column;
            li {
              a {
                svg {
                  display: grid;
                }
              }
              &:first-child {
                display: list-item;
                padding: 0;
              }
            }
          }
        }
        li.profile {
          ul ul.social {
            flex-direction: column;
            li {
              padding: 0.5rem 0;
            }
          }
        }
        li.work, li.projects {
          display: list-item;
        }
      }
    }
    .brand {
      width: auto;
      min-width: 8rem;
      .logo {padding: 0 0 1rem;}
    }
  }
}