// HEADER
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: white;
  nav {
    width: 100%;
    padding: 1rem;
    button.menu-toggle {
      display: flex;
      margin: 0 0 0 auto;
      padding: 0;
      border: none;
      color: $green;
      background-color: transparent;
      cursor: pointer;
      @include transition(color, 0.25s, ease);
      svg {
        width: 2rem;
        height: 2rem;
      }
      svg.menu-toggle-open {@include transition(width, 0.25s, ease);}
      svg.menu-toggle-close {
        width: 0;
        @include transition(width, 0.25s, ease);
      }
      &:hover, &:focus {
        color: $orange;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      width: auto;
      height: 0;
      margin: 0 0 0 auto;
      padding: 0;
      font-size: $p;
      list-style-type: none;
      @include transform(translateX(100vw));
      @include transition(all, 0.325s, ease);
      &:last-child {padding: 0;}
      li {
        ul {
          li {
            a {
              display: flex;
              align-items: flex-start;
              @include sans-regular;
              @include transition(color, 0.25s, ease);
              &:after {display: none;}
              &:hover, &:focus {color: $orange;}
              svg {
                width: 1rem;
                height: 1rem;
                margin: 0 0 0 0.25rem;
              }
            }
            &.selected {
              color: $orange;
            }
            &:first-child {
              display: none;
              padding: 0.5rem 0 0;
              @include sans-bold;
              font-size: calc(0.875 * #{$xsmall});
              text-transform: uppercase;
            }
          }
        }
        ul.social {
          flex-direction: row;
          justify-content: flex-start;
          width: 100%;
          li {
            display: list-item;
            width: auto;
            padding: 0.5rem 1.5rem 0.5rem 0;
            font-size: $small;
            text-transform: none;
          }
          li a {
            display: flex;
            align-items: center;
            width: auto;
            svg {
              width: 1.25rem;
              height: 1.25rem;
              margin: 0;
            }
            span {
              margin: 0.25rem 0 0 0.5rem;
            }
          }
        }
      }
      li.work {
        ul {
          font-size: $h4;
          &:before, &:after {
            display: block;
            position: relative;
            width: 100%;
            height: 1px;
            margin: 1rem 0;
            background: $gray;
            content: "";
          }
        }
      }
    }
  }
}

.header--fixed {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0
}

/*
@media (min-width: 48rem) {
  header {
    nav {
      ul {
        margin: 0 0 0 auto;
        li {
          ul {
            li {
              &:first-child {
                display: list-item;
              }
            }
          }
        }
      }
    }
  }
}
*/

/*
@media (min-width: 48rem) and (min-height: 48rem), (max-height: 40rem) and (orientation: portrait) {
  header {
    nav {
      ul.header-navigation {
        width: 50%;
        min-width: inherit;
        li {
          ul {
            font-size: $h4;
            li {
              &:first-child {
                display: list-item;
              }
            }
          }
        }
        li.profile ul ul.social {
          li {
            font-size: $p;
          }
        }
        li.work {
          ul {
            font-size: $h3;
          }
        }
      }
    }
  }
}
*/

@media (orientation: landscape) and (max-height: 40rem) {
  header {
    nav {
      ul {
        flex-direction: row;
        li {
          ul {
            flex-direction: column;
            li {
              &:first-child {
                display: list-item;
              }
            }
          }
        }
        li.profile {
          max-width: 20%;
          ul ul.social {
            flex-direction: column;
            li {
              padding: 0.5rem 0;
              line-height: 1.375;
            }
          }
        }
        li.work {
          min-width: calc(45% - 1rem);
          margin: 0 1.25rem 0 0;
          ul {
            padding: 0 1rem;
            &:before, &:after {
              position: absolute;
              width: 1px;
              height: 100%;
              margin: 0 1rem;
            }
            &:before {
              left: -1rem;
            }
            &:after {
              right: -1rem;
            }
          }
        }
      }
    }
  }
}


// OPEN HEADER
header.open {
  z-index: 1000;
  nav {
    height: 100vh;
    button.menu-toggle {
      svg.menu-toggle-open {
        width: 0;
        left: -2rem;
      }
      svg.menu-toggle-close {width: 2rem;}
    }
    ul {
      height: auto;
      @include transform(translateX(0));
    }
  }
}


// HEADROOM
.headroom {
  @include transition(all, 0.25s, ease);
  will-change: transform
}

.headroom--pinned {@include transform(translateY(0));}

.headroom--unpinned {@include transform(translateY(-10vh));}