  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8JF863"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section class="skip">
      <h1 class="visuallyhidden">Skip to the main content on this page</h1>
      <p class="center"><a href="index.html#content" class="skip">Skip to the main content on this page</a></p>
    </section>
    <header></header>
    <main>
      <section class="banner"></section>
      <article id="content"></article>
    </main>
    <footer></footer>
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="assets/scripts/headroom.js"></script>
    <script src="assets/scripts/site.js"></script>
    <script>
      // CHANGE CSS WHEN PAGE LOADS
      $(document).ready(function(){
        $("body").addClass("visible");
      });
    </script>
  </body>
</html>
