  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8JF863"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script>
      document.body.className = "hidden";
    </script>
    <section class="skip">
      <h1 class="visuallyhidden">Skip to the main content on this page</h1>
      <p class="center"><a href="projects/delta-design-system/index.html#content" class="skip">Skip to the main content on this page</a></p>
    </section>
    <header></header>
    <main>
      <section class="banner"></section>
      <article id="content"></article>
    </main>
    <footer></footer>
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="assets/scripts/headroom.js"></script>
    <script>
      // CHANGE CSS WHEN PAGE LOADS
      function loaded (callback) {
        callback();
      };
      loaded(function () {
        document.body.className = "visible";
      });

      // HEADROOM
      var myElement = document.querySelector("header");
      var headroom  = new Headroom(myElement);
      headroom.init();

      // ANIMATE OBJECTS AS THEY COME ON SCREEN
      const addVisible = document.querySelectorAll(".animate");
      const io_options = {
        root: null,
        rootMargin: "0px 0px 0px 0px",
        threshold: 0
      };
      const io_observer = new IntersectionObserver(io_callback, io_options);

      addVisible.forEach(element => {
        io_observer.observe(element);
      });
      function io_callback (entries, observer) {
        entries.forEach(entry => {
          entry.target.classList.toggle("visible", entry.isIntersecting);
        });
      };

      // PARALAX BANNERS
      const banner = document.querySelector(".banner .text");
      const speed = 0.2;
      banner.style.transform = "translateY( calc( var(--scrollparallax) * 1px ) )";
      function setScrollParallax() {
        banner.style.setProperty("--scrollparallax", (document.body.scrollTop || document.documentElement.scrollTop) * speed);
        window.requestAnimationFrame( setScrollParallax );
      }
      window.requestAnimationFrame( setScrollParallax );

      //HEADER NAVIGATION UPDATES
      $("button.menu-toggle").click(function() {
        $("body").toggleClass("open");
        $("header").toggleClass("open");
        $("button.menu-toggle").attr("aria-expanded",true);
        $("nav ul").attr("aria-hidden",false);
      });
      $(".close").click(function() {
        $("button.menu-toggle").attr("aria-expanded",false);
        $("nav ul").attr("aria-hidden",true);
      });
    </script>
  </body>
</html>