// VIEWPORT ANIMATION
.animate {
  opacity: 0;
  @include transition (opacity, 1s, ease-in-out);
  will-change: transform;
  &.visible {
    opacity: 1;
  }
}


/* PULSE */
.animate.pulse {
  opacity: 0;
  @include animation-delay(0.25s);
  @include transition (opacity, 1s, ease);
  will-change: transform;
  &.visible {
    opacity: 1;
    @include animation-name(pulse);
    @include transform-origin(center);
    @include animation-duration(1s);
    @include animation-iteration-count(5);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.8;
    @include transform(scale(1));
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    @include transform(scale(2));
  }
}