<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <base href="../../../">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header</title>
    <meta name="description" content="I have more than 20 years of experience solving problems in cross-functional settings for a wide range of B2B and B2C products, platforms, and services for retail, e-commerce, fintech, and more. I specialize in UX and UI design, responsive web design, and design systems.">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
    <link rel="mask-icon" href="assets/icons/safari-pinned-tab.svg" color="#384332">
    <link rel="shortcut icon" href="assets/icons/favicon.ico">
    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="assets/css/master.css">
  </head>
  <body>
    <header class="open">
      <nav aria-labelledby="header-navigation">
        <button class="menu-toggle" aria-label="Open and close navigation" aria-expanded="false" aria-controls="header-navigation">
          <svg class="menu-toggle-open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0h24v24H0z" stroke="none"/><path d="M4 6h16M4 12h16M4 18h16"/></svg>
          <svg class="menu-toggle-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0h24v24H0z" stroke="none"/><path d="M18 6L6 18M6 6l12 12"/></svg>
        </button>
        <ul class="header-navigation" id="header-navigation">
          <li class="profile">
            <ul>
              <li>Me</li>
              <li><a href="index.html" class="header--home">Home</a></li>
              <li><a href="resume/index.html" class="header--resume">My resume</a></li>
              <li style="padding: 0;"><ul class="social" style="padding: 0;">
                <li><a href="https://www.linkedin.com/in/christopher-fournier/" class="header--linkedin" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24"><path d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"/><circle cx="4" cy="4" r="2"/></svg><span>LinkedIn</span></a></li>
                <li><a href="https://github.com/cdfournier" class="header--github" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0020 4.77 5.07 5.07 0 0019.91 1S18.73.65 16 2.48a13.38 13.38 0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 005 4.77a5.44 5.44 0 00-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 009 18.13V22"/></svg><span>Github</span></a></li>
              </ul></li>
            </ul>
          </li>
          <li class="work">
            <ul>
              <li>Work</li>
              <li><a href="projects/panera/index.html" class="header--panera">Panera</a></li>
              <li><a href="projects/enservio/index.html" class="header--enservio">Enservio</a></li>
              <li><a href="projects/transferx/index.html" class="header--transferx">TransferX</a></li>
              <li><a href="projects/eberhardt-design/index.html" class="header--eberhardt-design">Eberhardt Design</a></li>
            </ul>
          </li>
          <li class="projects">
            <ul>
              <li>Other projects</li>
              <li><a href="projects/delta-design-system/index.html" class="header-delta-design-system">The Delta Design System</a></li>
              <li><a href="projects/mystuff/index.html" class="header--mystuff">MyStuff</a></li>
              <li><a href="projects/east-wind/index.html" class="header--east-wind">East Wind</a></li>
              <li><a href="https://cdfournier.github.io/guitar-notes/" class="header-guitar-notes header--guitar-notes" target="_blank" rel="noopener noreferrer"><span>Guitar Notes</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0h24v24H0z" stroke="none"/><path d="M11 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-5M10 14 20 4M15 4h5v5"/></svg></a></li>
              <li><a href="https://cdfournier.github.io/wundermint/" class="header--wundermint header--wundermint" target="_blank" rel="noopener noreferrer"><span>Wundermint</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0h24v24H0z" stroke="none"/><path d="M11 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-5M10 14 20 4M15 4h5v5"/></svg></a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="assets/scripts/headroom.js"></script>
    <script>
      // CHANGE CSS WHEN PAGE LOADS
      function loaded (callback) {
        callback();
      };
      loaded(function () {
        document.body.className = "visible";
      });

      // HEADROOM
      var myElement = document.querySelector("header");
      var headroom  = new Headroom(myElement);
      headroom.init();

      // ANIMATE OBJECTS AS THEY COME ON SCREEN
      const addVisible = document.querySelectorAll(".animate");
      const io_options = {
        root: null,
        rootMargin: "0px 0px 0px 0px",
        threshold: 0
      };
      const io_observer = new IntersectionObserver(io_callback, io_options);

      addVisible.forEach(element => {
        io_observer.observe(element);
      });
      function io_callback (entries, observer) {
        entries.forEach(entry => {
          entry.target.classList.toggle("visible", entry.isIntersecting);
        });
      };

      //HEADER NAVIGATION UPDATES
      $("button.menu-toggle").click(function() {
        $("body").toggleClass("open");
        $("header").toggleClass("open");
        $("button.menu-toggle").attr("aria-expanded",true);
        $("nav ul").attr("aria-hidden",false);
      });
      $(".close").click(function() {
        $("button.menu-toggle").attr("aria-expanded",false);
        $("nav ul").attr("aria-hidden",true);
      });
    </script>
  </body>
</html>