// FIGURES
figure {
  display: grid;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 1rem 0;
  a {display: grid;}
  pre {
    margin: 0;
    padding: 0 0 1rem;
    padding: 0;
    overflow-x: auto;
  }
  figcaption {
    display: none;
    padding: 0.5rem 0 0;
    @include sans-bold;
    font-size: $small;
  }
}

figure:last-child {padding: 1rem 0 0;}

.column > figure, .row > figure {padding: 0 0 1rem;}
.column > figure:last-child, .row > figure:last-child {padding: 0;}

.column p + figure:last-child {padding: 1rem 0 0;}

.row > p + figure {padding: 1rem 0;}
.row > p + figure:last-child {padding: 1rem 0 0;}


// BORDERS
figure.border:before, figure.border:after {
  display: block;
  width: 100%;
  height: 1px;
  margin: 1rem 0 0;
  background: $gray;
  content: "";
}