// BANNERS
.banner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: calc($p * 4) calc($p * 2);
  background-repeat: no-repeat;

  .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.25;
  }

  .text {
    z-index: 10;
  }
}


// PROJECT BANNERS
main.delta-design-system,
main.east-wind,
main.enservio,
main.mystuff,
main.panera,
main.transferx {
  .banner.intro {
    img {
      max-width: 36rem;
      margin: 0 auto;
    }
  }
}

@media (min-width: 56rem) {

  main.delta-design-system,
  main.east-wind,
  main.enservio,
  main.mystuff,
  main.panera,
  main.transferx {
    .banner.intro {
      justify-content: center;
      z-index: 100;
      background-size: cover;

      img {
        display: none;
      }

      h2,
      p {
        max-width: 24rem;
        margin: 0;
      }

      h2 {
        padding: 0;
      }
    }
  }
}


// PROJECT BANNER INTRO IMAGES
@media (min-width: 56rem) {
  main.delta-design-system {
    .banner.intro {
      background-image: url(../images/delta-design-system-01-2x.jpg);
      color: black;
    }
  }

  main.east-wind {
    .banner.intro {
      background-blend-mode: overlay;
      background-color: rgba(0, 0, 0, .5);
      background-image: url(../images/east-wind-01-2x.jpg);
      color: white;
    }
  }

  main.enservio {
    .banner.intro {
      background-image: url(../images/enservio-16-2x.jpg);
      color: black;
    }
  }

  main.mystuff {
    .banner.intro {
      background-image: url(../images/mystuff-01-2x.jpg);
      color: white;
    }
  }

  main.panera {
    .banner.intro {
      background-blend-mode: overlay;
      background-color: rgba(0, 0, 0, .5);
      background-image: url(../images/panera-20-2x.jpg);
      color: white;
    }
  }

  main.transferx {
    .banner.intro {
      background-image: url(../images/transferx-30-2x.jpg);
      color: black;
    }
  }
}


// ERROR PAGE BANNER
main.error {
  h2 span {
    display: block;
    width: 100%;
    font-size: $p;
    line-height: 2;
  }
}

@media (min-width: 56rem) {
  main.error {
    img {
      display: none;
    }

    .banner.intro {
      z-index: 100;
      background-blend-mode: overlay;
      background-color: rgba($color: #000000, $alpha: 0.5);
      background-image: url(../images/banner-error-2x.jpg);
      color: white;

      .cta {
        margin-left: 0;

        a {
          color: white;
        }
      }
    }
  }
}