// FIGURES
figure {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;

  figcaption {
    width: 100%;
    max-width: 36rem;
    margin: 0 auto;
    padding: $xsmall 0 0;
    font-size: $small;
    @include sans-bold;
  }
}