// FIGURES
figure {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;

  figcaption {
    width: 100%;
    max-width: 36rem;
    margin: 0 auto;
    padding: $xsmall 0 0;
    font-size: $small;
    @include sans-bold;
  }
}


// PANERA USERS & PAGEVIEWS FIGURES
main.panera {
  figure {

    ul.users,
    ul.pageviews {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      max-width: 36rem;
      padding: $p 0;
      list-style: none;

      li {
        display: flex;
        flex-direction: column;
        width: 50%;
        max-width: none;
        margin: calc($p * 0.5) 0 0;
        padding: 0;
        font-size: $small;
        text-transform: uppercase;

        &:first-of-type {
          width: 100%;
          margin: 0;
          border-right: none;
          font-size: $h4;
          line-height: 1;
          text-transform: uppercase;
        }

        span {
          @include sans-bold;
          font-size: $h3;
          line-height: 1;

          &>span {
            font-size: $h4;
          }
        }
      }
    }

    ul.users {
      padding-top: calc($p * 2);
    }

    ul.pageviews {
      padding-bottom: 0;

      &+figcaption {
        padding-bottom: $p;
      }
    }
  }
}

@media (min-width: 30rem) {
  main.panera {
    figure {

      ul.users,
      ul.pageviews {
        li {
          width: calc((100% / 4) - 1rem);
          margin: calc($p * 0.5) $p 0 0;
          border-right: 1px solid $gray;

          &:last-of-type {
            margin: calc($p * 0.5) 0 0;
            border-right: none;
          }
        }
      }
    }
  }
}


// PANERA USER EXPERIENCE FIGURES
main.panera {
  .gallery.user-experience {
    align-items: stretch;
    justify-content: center;
    max-width: 64rem;
    margin: 0 auto;
    padding: $p 0;

    figure {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      max-width: 64rem;
      margin: 0;
      padding: 0;

      .user,
      .group,
      .commerce {
        width: calc((100% / 3) - $p);
      }

      .group {
        display: flex;
        flex-direction: column;
      }

      .user,
      .rewards,
      .menu,
      .brand,
      .commerce {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        margin: 0;
        padding: $p;
        border: 1px solid $gray-mid;
        border-radius: 100%;
        @include sans-bold;
        font-size: $xsmall;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
      }

      .rewards,
      .menu,
      .brand {
        width: 100%;
      }

      .menu {
        margin: $p 0;
      }

      .paths {
        display: flex;
        flex-direction: column;
        width: calc($p * 2);

        svg {
          width: 100%;
          stroke-width: 1;
          stroke: $gray-mid;
        }
      }

      .old,
      .new {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: $p 0;
      }

      .new {
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        padding: calc($p * 2) 0 $p;

        .user,
        .rewards,
        .menu,
        .brand,
        .commerce {
          width: calc(100% / 3);
        }

        .rewards,
        .menu,
        .commerce,
        .brand {
          margin: calc($p * (-1));
        }

        .user {
          z-index: 10;
          margin: calc($p * (-4)) 25%;
          border-color: rgba(148, 148, 148, 0.5);
          background-color: rgba(255, 255, 255, 0.6);
        }
      }
    }

    figure:last-of-type {
      padding: $p 0 0;
      figcaption {
        padding: calc($p * 2) 0 0;
      }
    }
  }
}

@media (min-width: 30rem) {
  main.panera {
    .gallery.user-experience {
      figure {
        width: 55%;

        .user,
        .rewards,
        .menu,
        .brand,
        .commerce {
          font-size: $small;
        }

        .new {
          padding: $p 0;
        }

        figcaption {
          text-align: center;
        }
      }

      figure:last-of-type {
        padding: 0;
        width: 45%;

        figcaption {
          position: absolute;
          bottom: 0;
          padding: $xsmall 0 0;
        }
      }
    }
  }
}

@media (min-width: 90rem) {
  main.panera {
    .gallery.user-experience {
      figure {

        .old,
        .new {

          .user,
          .rewards,
          .menu,
          .brand,
          .commerce {
            font-size: $p;
          }
        }
      }
    }
  }
}


// PANERA STORIES FIGURES
main.panera {
  figure {
    ul.stories {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      max-width: 64rem;
      padding: calc($p *2) 0;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 3);
        aspect-ratio: 1;
        margin: calc($p * (-1)) calc($p * (-0.5));
        padding: $p;
        border: 1px solid $gray-mid;
        border-radius: 100%;
        @include sans-bold;
        font-size: $xsmall;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

@media (min-width: 30rem) {
  main.panera {
    figure {
      ul.stories {
        flex-wrap: nowrap;

        li {
          width: calc(100% / 5);
          margin: 0 calc($p * (-0.5));
          font-size: $small;
        }
      }
    }
  }
}

@media (min-width: 40rem) {
  main.panera {
    figure {
      ul.stories {
        li {
          margin: 0 calc($p * (-1));
        }
      }
    }
  }
}

@media (min-width: 90rem) {
  main.panera {
    figure {
      ul.stories {
        li {
          margin: 0 calc($p * (-1.25));
          font-size: $p;
        }
      }
    }
  }
}


// TRANSFERX FIGURES
main.transferx {

  figure.colors,
  figure.patterns,
  figure.marks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 36rem;
    margin: $p auto 0;

    img {
      width: calc((100% / 2) - 1rem);
      background-color: white;

      &:nth-of-type(2) {
        display: none;
      }
    }
  }

  figure.colors {

    dl.colors {
      width: calc(50% - 1rem);
      margin: 0;
      padding: $p 0;
      font-size: $small;
      text-transform: uppercase;

      dt {
        display: flex;
        flex-direction: column;
        font-size: $small;
        line-height: 1.5;

        span {
          display: grid;
          width: calc($p * 3);
          height: calc($p * 3);
          margin: 0 0 calc($p * 0.5);
          border-radius: 100%;
        }
      }

      dd {
        display: flex;
        align-items: center;
        padding: 0;
        font-size: $xsmall;

        span {
          display: inline-block;
          margin: 0 calc($p * 0.125) 0 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &:nth-of-type(1) {
          span {
            width: calc((100% - 22.5%) / 4);

            &:first-child {
              width: 22.5%;
            }
          }
        }

        &:nth-of-type(2) {
          span {
            width: calc((100% - 22.5%) / 3);

            &:first-child {
              width: 22.5%;
            }
          }
        }

        &:nth-of-type(3) {
          span {
            width: calc(100% - 22.5%);

            &:first-child {
              width: 22.5%;
            }
          }
        }
      }

      @media (min-width: 40rem) {
        width: calc((100% / 3) - 1rem);
      }

      @media (min-width: 72rem) {
        width: calc((100% / 4) - 1rem);
      }
    }
  }

  figure.patterns {
    padding: 0 0 calc($p * 2);
  }

  figure.marks {
    justify-content: flex-start;

    .logo {
      display: grid;
      width: 100%;
      max-width: 24rem;
      margin: 0 calc($p * 2) calc($p * 2) 0;
      background-color: white;
    }

    .icon {
      width: calc($p * 4);
      max-width: calc($p * 4);
    }
  }

  @media (min-width: 48rem) {
    figure.marks {
      align-items: center;
      justify-content: flex-start;

      .logo {
        margin: 0 calc($p * 2) 0 0;
      }
    }
  }

  @media (min-width: 40rem) {
    figure.patterns {
      img {
        width: calc((100% / 3) - 1rem);

        &:nth-of-type(2n) {
          display: inherit;
        }
      }
    }
  }
}