// FIGURES
figure {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;

  figcaption {
    width: 100%;
    max-width: 36rem;
    margin: 0 auto;
    padding: $xsmall 0 0;
    font-size: $small;
    @include sans-bold;
  }
}


// PANERA BREAD FIGURES
main.panera {
  figure {

    ul.users,
    ul.pageviews {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      max-width: 36rem;
      padding: 1rem 0;
      list-style: none;

      li {
        display: flex;
        flex-direction: column;
        width: 50%;
        max-width: none;
        margin: 0.5rem 0 0;
        padding: 0;
        font-size: $small;
        text-transform: uppercase;

        &:first-of-type {
          width: 100%;
          margin: 0;
          border-right: none;
          font-size: $h4;
          line-height: 1;
          text-transform: uppercase;
        }

        span {
          @include sans-bold;
          font-size: $h3;
          line-height: 1;

          &>span {
            font-size: $h4;
          }
        }
      }
    }

    ul.users {
      padding-top: 2rem;
    }

    ul.pageviews {
      padding-bottom: 0;

      &+figcaption {
        padding-bottom: 1rem;
      }
    }
  }
}

@media (min-width: 30rem) {
  main.panera {
    figure {

      ul.users,
      ul.pageviews {
        li {
          width: calc((100% / 4) - 1rem);
          margin: 0.5rem 1rem 0 0;
          border-right: 1px solid $gray;

          &:last-of-type {
            margin: 0.5rem 0 0;
            border-right: none;
          }
        }
      }
    }
  }
}


// TRANSFERX FIGURES
main.transferx {

  figure.colors,
  figure.patterns,
  figure.marks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 36rem;
    margin: 1rem auto 0;

    img {
      width: calc((100% / 2) - 1rem);
      background-color: white;

      &:nth-of-type(2) {
        display: none;
      }
    }
  }

  figure.colors {

    dl.colors {
      width: calc(50% - 1rem);
      margin: 0;
      padding: 1rem 0;
      font-size: $small;
      text-transform: uppercase;

      dt {
        display: flex;
        flex-direction: column;
        font-size: $small;
        line-height: 1.5;

        span {
          display: grid;
          width: 3rem;
          height: 3rem;
          margin: 0 0 0.5rem;
          border-radius: 100%;
        }
      }

      dd {
        display: flex;
        align-items: center;
        padding: 0;
        font-size: $xsmall;

        span {
          display: inline-block;
          margin: 0 0.125rem 0 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &:nth-of-type(1) {
          span {
            width: calc((100% - 22.5%) / 4);

            &:first-child {
              width: 22.5%;
            }
          }
        }

        &:nth-of-type(2) {
          span {
            width: calc((100% - 22.5%) / 3);

            &:first-child {
              width: 22.5%;
            }
          }
        }

        &:nth-of-type(3) {
          span {
            width: calc(100% - 22.5%);

            &:first-child {
              width: 22.5%;
            }
          }
        }
      }

      @media (min-width: 40rem) {
        width: calc((100% / 3) - 1rem);
      }

      @media (min-width: 72rem) {
        width: calc((100% / 4) - 1rem);
      }
    }
  }

  figure.patterns {
    padding: 0 0 2rem;
  }

  figure.marks {
    justify-content: flex-start;
    .logo {
      display: grid;
      width: 100%;
      max-width: 24rem;
      margin: 0 2rem 2rem 0;
      background-color: white;
    }

    .icon {
      width: 4rem;
      max-width: 4rem;
    }
  }

  @media (min-width: 48rem) {
    figure.marks {
      align-items: center;
      justify-content: flex-start;

      .logo {
        margin: 0 2rem 0 0;
      }
    }
  }

  @media (min-width: 40rem) {
    figure.patterns {
      img {
        width: calc((100% / 3) - 1rem);

        &:nth-of-type(2n) {
          display: inherit;
        }
      }
    }
  }
}