// HOME TYPOGRAPHY
main.home {

  h1,
  h2,
  h3,
  h4,
  p,
  small,
  ul,
  ol,
  dl,
  figure {
    max-width: 36rem;
    margin: 0 auto;
  }
}


// HOME BANNER
main.home {
  .banner {
    ul {
      flex-direction: row;
      width: 100%;
      padding-left: 0;
      list-style: none;

      li {
        width: auto;
        padding: 0 $p 0 0;

        &:last-child {
          padding: 0;
        }

        a {
          display: flex;
          align-items: center;

          svg {
            width: 1.125rem;
            height: 1.125rem;
            margin-right: 0.25rem;
          }
        }
      }
    }
  }
}

@media (min-width: 48rem) {
  main.home {
    .banner.intro {
      background-attachment: fixed;
      background-image: url(../images/mug-2x.png);
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: 45vw;
    }
  }
}

@supports (-webkit-touch-callout: none) {
  main.home {
    .banner.intro {
      background-attachment: scroll;
    }
  }
}


// ABOUT ME
main.home {
  .about-me {
    min-height: 100vh;

    ul {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      padding-left: 0;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: calc(50% - 1rem);
        margin: 0 0 1rem;
        padding: 0;
        line-height: 1.125;

        svg {
          display: grid;
          width: 2rem;
          height: 2rem;
          margin-right: 0.25rem;
        }
      }
    }
  }
}


// SELECTED PROJECTS
main.home {
  .selected-projects {
    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 4rem 0 0;

      .text {
        flex-direction: column;
        padding: $p 0 0;
      }
    }

    .phone {
      figure {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        img {
          width: calc((100% / 3) - 1rem);
          margin: 0 1rem 0 0;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 48rem) {
  main.home {
    .selected-projects {
      div {
        min-height: 80vh;

        .text {
          min-height: auto;
        }
      }

      .phone {
        figure {
          img {
            width: 25%;
          }
        }
      }
    }
  }
}