// PROJECT GLOBAL
main.delta-design-system,
main.east-wind,
main.enservio,
main.mystuff,
main.panera,
main.transferx {

  h1,
  h2,
  h3,
  h4,
  p,
  small,
  ul,
  ol,
  dl {
    max-width: 36rem;
    margin: 0 auto;
  }
}


// PROJECT DETAILS LISTS
.details {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  max-width: 36rem;
  margin: 0 auto;
  padding: 0 0 $p;

  ul {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: $p 0 0;
    list-style: none;

    li:first-of-type {
      padding: 0;
      @include sans-bold;
      font-size: $p;
    }

    li,
    li a {
      display: flex;
      align-items: center;
      padding: calc($p * 0.5) 0 0;
      font-size: $small;
      line-height: 1.25;

      span {
        display: inline-grid;
        // display: none;
        width: $small;
        height: $small;
        margin: 0 calc($p * 0.25) 0 0;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    li a {
      padding: 0;
    }
  }

  ul.links {
    li {
      svg {
        width: $p;
        height: $p;
        margin: 0 0 0 calc($p * 0.25);
      }
    }
  }

  ul.skills {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: $p 0 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      overflow: hidden;
      width: auto;
      margin: 0 calc($p * 0.5) calc($p * 0.5) 0;
      padding: calc($p * 0.25) calc($p * 0.5);
      border: 1px solid;
      border-radius: $p;
      font-size: $small;
      line-height: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    li:first-of-type {
      width: 100%;
      min-width: 100%;
      padding: 0;
      border: none;
      @include sans-bold;
      font-size: $p;
      line-height: 1.25;
    }
  }
}


// PROJECT GALLERIES
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: $p;

  figure {
    padding: $p;
  }

  .collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100vw + 2rem);
    min-width: 100vw;
    margin: $p 0 $p calc($p * (-1));
    padding: calc($p * 2) $p;
    color: white;

    &+.collection {
      margin-top: calc($p * (-2));
    }

    figure {
      width: 100%;
      margin: 0;
    }

    figure.laptop {
      width: 100%;
    }

    figure.tablet {
      width: 75%;

      &.landscape {
        width: 90%;
      }
    }

    figure.phone {
      width: 40%;
    }

  }
}

@media (min-width: 48rem) {
  .gallery {
    figure {
      width: 38rem;
    }

    .collection {
      figure.tablet {
        width: 50%;
      }

      figure.phone {
        width: calc(100% / 3);
      }
    }
  }
}

@media (min-width: 64rem) {
  .gallery {
    figure {
      width: 50%;

      &.wide {
        width: 100%;
      }
    }

    .collection {
      figure.laptop {
        width: 90%;
      }

      figure.tablet {
        width: 40%;

        &.landscape {
          width: 50%;
        }
      }

      figure.phone {
        width: 25%;
      }
    }
  }
}


// PROJECT GALLERIES COLLECTION COLORS
main.delta-design-system {
  .gallery {
    .collection {
      background-color: $delta-design-system;
    }
  }
}

main.enservio {
  .gallery {
    .collection {
      background-color: $enservio;
    }
  }
}

main.mystuff {
  .gallery {
    .collection {
      background-color: $mystuff;
    }
  }
}

main.panera {
  .gallery {
    .collection {
      background-color: $panera;
    }
  }
}

main.transferx {
  .gallery {
    .collection {
      background-color: $transferx;
    }
  }
}