// PROJECT GLOBAL
main.delta-design-system,
main.east-wind,
main.enservio,
main.mystuff,
main.panera,
main.transferx {

  h1,
  h2,
  h3,
  h4,
  p,
  small,
  ul,
  ol,
  dl {
    max-width: 36rem;
    margin: 0 auto;
  }
}


// PROJECT BANNER INTRO
main.delta-design-system,
main.east-wind,
main.enservio,
main.mystuff,
main.panera,
main.transferx {
  .banner.intro {
    img {
      max-width: 36rem;
      margin: 0 auto;
    }
  }
}

@media (min-width: 56rem) {

  main.delta-design-system,
  main.east-wind,
  main.enservio,
  main.mystuff,
  main.panera,
  main.transferx {
    .banner.intro {
      justify-content: center;
      z-index: 100;
      background-size: cover;

      img {
        display: none;
      }

      h2,
      p {
        max-width: 24rem;
        margin: 0;
      }

      h2 {
        padding: 0;
      }
    }
  }
}


// PROJECT BANNER INTRO IMAGES
@media (min-width: 56rem) {
  main.delta-design-system {
    .banner.intro {
      background-image: url(../images/delta-design-system-01-2x.jpg);
      color: black;
    }
  }

  main.east-wind {
    .banner.intro {
      background-blend-mode: overlay;
      background-color: rgba(0, 0, 0, .5);
      background-image: url(../images/east-wind-01-2x.jpg);
      color: white;
    }
  }

  main.enservio {
    .banner.intro {
      background-image: url(../images/enservio-16-2x.jpg);
      color: black;
    }
  }

  main.mystuff {
    .banner.intro {
      background-image: url(../images/mystuff-01-2x.jpg);
      color: white;
    }
  }

  main.panera {
    .banner.intro {
      background-blend-mode: overlay;
      background-color: rgba(0, 0, 0, .5);
      background-image: url(../images/panera-20-2x.jpg);
      color: white;
    }
  }

  main.transferx {
    .banner.intro {
      background-image: url(../images/transferx-30-2x.jpg);
      color: black;
    }
  }
}


// PROJECT DETAILS LISTS
.details {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  max-width: 36rem;
  margin: 0 auto;
  padding: 0 0 1rem;

  ul {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 1rem 0 0;
    list-style: none;

    li:first-of-type {
      padding: 0;
      @include sans-bold;
      font-size: $p;
    }

    li,
    li a {
      display: flex;
      align-items: center;
      padding: 0.5rem 0 0;
      font-size: $small;
      line-height: 1.25;

      svg {
        display: inline-grid;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0.25rem 0 0;
      }
    }

    li a {
      padding: 0;
    }
  }

  ul.links {
    li {
      svg {
        width: 1rem;
        height: 1rem;
        margin: 0 0 0 0.25rem;
      }
    }
  }

  ul.skills {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 0 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      overflow: hidden;
      width: auto;
      margin: 0 0.5rem 0.5rem 0;
      padding: 0.25rem 0.5rem;
      border: 1px solid;
      border-radius: 1rem;
      font-size: $small;
      line-height: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    li:first-of-type {
      width: 100%;
      min-width: 100%;
      padding: 0;
      border: none;
      @include sans-bold;
      font-size: $p;
      line-height: 1.25;
    }
  }
}


// PROJECT GALLERIES
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;

  figure {
    padding: 1rem;
  }

  .collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100vw + 2rem);
    min-width: 100vw;
    margin: 1rem 0 1rem -1rem;
    padding: 1rem;
    color: white;

    &+.collection {
      margin-top: -2rem;
    }

    figure {
      width: 100%;
      margin: 0;
    }

    figure.laptop {
      width: 100%;
    }

    figure.tablet {
      width: 75%;

      &.landscape {
        width: 90%;
      }
    }

    figure.phone {
      width: 45%;
    }

  }
}

@media (min-width: 48rem) {
  .gallery {
    figure {
      width: 38rem;
    }

    .collection {
      figure.tablet {
        width: 50%;
      }

      figure.phone {
        width: calc(100% / 3);
      }
    }
  }
}

@media (min-width: 64rem) {
  .gallery {
    figure {
      width: 50%;

      &.wide {
        width: 100%;
      }
    }

    .collection {
      figure.laptop {
        width: 90%;
      }

      figure.tablet {
        width: 40%;

        &.landscape {
          width: 50%;
        }
      }

      figure.phone {
        width: 25%;
      }
    }
  }
}


// PROJECT GALLERIES COLLECTION COLORS
main.delta-design-system {
  .gallery {
    .collection {
      background-color: $delta-design-system;
    }
  }
}

main.enservio {
  .gallery {
    .collection {
      background-color: $enservio;
    }
  }
}

main.mystuff {
  .gallery {
    .collection {
      background-color: $mystuff;
    }
  }
}

main.panera {
  .gallery {
    .collection {
      background-color: $panera;
    }
  }
}

main.transferx {
  .gallery {
    .collection {
      background-color: $transferx;
    }
  }
}


// PANERA BREAD FIGURES
main.panera {
  figure {

    ul.users,
    ul.pageviews {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      max-width: 36rem;
      padding: 1rem 0;
      list-style: none;

      li {
        display: flex;
        flex-direction: column;
        width: 50%;
        max-width: none;
        margin: 0.5rem 0 0;
        padding: 0;
        font-size: $small;
        text-transform: uppercase;

        &:first-of-type {
          width: 100%;
          margin: 0;
          border-right: none;
          font-size: $h4;
          line-height: 1;
          text-transform: uppercase;
        }

        span {
          @include sans-bold;
          font-size: $h3;
          line-height: 1;

          &>span {
            font-size: $h4;
          }
        }
      }
    }

    ul.users {
      padding-top: 2rem;
    }

    ul.pageviews {
      padding-bottom: 0;

      &+figcaption {
        padding-bottom: 1rem;
      }
    }
  }
}

@media (min-width: 30rem) {
  main.panera {
    figure {

      ul.users,
      ul.pageviews {
        li {
          width: calc((100% / 4) - 1rem);
          margin: 0.5rem 1rem 0 0;
          border-right: 1px solid $gray;

          &:last-of-type {
            margin: 0.5rem 0 0;
            border-right: none;
          }
        }
      }
    }
  }
}


// PANERA BREAD GALLERY BLOCKQUOTES
main.panera {
  .gallery {
    .collection {
      blockquote {

        &:before {
          background-color: $panera;
        }
      }
    }
  }
}


// TRANSFERX FIGURES
main.transferx {

  figure.colors,
  figure.patterns,
  figure.marks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 36rem;
    margin: 1rem auto 0;

    img {
      width: calc((100% / 2) - 1rem);
      background-color: white;

      &:nth-of-type(2) {
        display: none;
      }
    }
  }

  figure.colors {

    dl.colors {
      width: calc(50% - 1rem);
      margin: 0;
      padding: 1rem 0;
      font-size: $small;
      text-transform: uppercase;

      dt {
        display: flex;
        flex-direction: column;
        font-size: $small;
        line-height: 1.5;

        span {
          display: grid;
          width: 3rem;
          height: 3rem;
          margin: 0 0 0.5rem;
          border: 2px solid white;
          border-radius: 100%;
        }
      }

      dd {
        display: flex;
        align-items: center;
        padding: 0;
        font-size: $xsmall;

        span {
          display: inline-block;
          margin: 0 0.125rem 0 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &:nth-of-type(1) {
          span {
            width: calc((100% - 22.5%) / 4);

            &:first-child {
              width: 22.5%;
            }
          }
        }

        &:nth-of-type(2) {
          span {
            width: calc((100% - 22.5%) / 3);

            &:first-child {
              width: 22.5%;
            }
          }
        }

        &:nth-of-type(3) {
          span {
            width: calc(100% - 22.5%);

            &:first-child {
              width: 22.5%;
            }
          }
        }
      }

      @media (min-width: 48rem) {
        width: calc((100% / 3) - 1rem);
      }

      @media (min-width: 82.5rem) {
        width: calc((100% / 4) - 1rem);
      }
    }
  }

  figure.patterns {
    padding: 0 0 2rem;
  }

  figure.marks {
    .logo {
      display: grid;
      width: 100%;
      max-width: 24rem;
      margin: 0 auto 2rem 0;
      background-color: white;
    }

    .icon {
      width: 4rem;
      max-width: 4rem;
    }
  }

  @media (min-width: 48rem) {
    figure.marks {
      align-items: center;
      justify-content: flex-start;

      .logo {
        margin: 0 2rem 0 0;
      }
    }
  }

  @media (min-width: 56rem) {
    figure.patterns {
      img {
        width: calc((100% / 3) - 1rem);

        &:nth-of-type(2n) {
          display: inherit;
        }
      }
    }
  }
}