// PROJECT GLOBAL
main.delta-design-system,
main.east-wind,
main.enservio,
main.mystuff,
main.panera,
main.transferx {

  h1,
  h2,
  h3,
  h4,
  p,
  small,
  ul,
  ol,
  dl {
    max-width: 36rem;
    margin: 0 auto;
  }
}


// PROJECT BANNER INTRO
main.delta-design-system,
main.east-wind,
main.enservio,
main.mystuff,
main.panera,
main.transferx {
  .banner.intro {
    img {
      max-width: 36rem;
      margin: 0 auto;
    }
  }
}

@media (min-width: 56rem) {

  main.delta-design-system,
  main.east-wind,
  main.enservio,
  main.mystuff,
  main.panera,
  main.transferx {
    .banner.intro {
      justify-content: center;
      z-index: 100;
      background-size: cover;

      img {
        display: none;
      }

      h2,
      p {
        max-width: 24rem;
        margin: 0;
      }

      h2 {
        padding: 0;
      }
    }
  }
}


// PROJECT BANNER INTRO IMAGES
@media (min-width: 56rem) {
  main.delta-design-system {
    .banner.intro {
      background-image: url(../images/delta-design-system-01-2x.jpg);
      color: black;
    }
  }

  main.east-wind {
    .banner.intro {
      background-blend-mode: overlay;
      background-color: rgba(0, 0, 0, .5);
      background-image: url(../images/east-wind-01-2x.jpg);
      color: white;
    }
  }
}


// PROJECT DETAILS LISTS
.details {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  max-width: 36rem;
  margin: 0 auto;
  padding: 0 0 1rem;

  ul {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 1rem 0 0;
    list-style: none;

    li:first-of-type {
      padding: 0;
      @include sans-bold;
      font-size: $p;
    }

    li,
    li a {
      display: flex;
      align-items: center;
      padding: 0.5rem 0 0;
      font-size: $small;
      line-height: 1.25;

      svg {
        display: inline-grid;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0.25rem 0 0;
      }
    }

    li a {
      padding: 0;
    }
  }

  ul.links {
    li {
      svg {
        width: 1rem;
        height: 1rem;
        margin: 0 0 0 0.25rem;
      }
    }
  }

  ul.skills {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 0 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      overflow: hidden;
      width: auto;
      margin: 0 0.5rem 0.5rem 0;
      padding: 0.25rem 0.5rem;
      border: 1px solid;
      border-radius: 1rem;
      font-size: $small;
      line-height: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    li:first-of-type {
      width: 100%;
      min-width: 100%;
      padding: 0;
      border: none;
      @include sans-bold;
      font-size: $p;
      line-height: 1.25;
    }
  }
}


// PROJECT GALLERIES
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;

  figure {
    padding: 1rem;
  }

  .collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100vw + 2rem);
    min-width: 100vw;
    margin: 1rem 0 1rem -1rem;
    padding: 1rem;

    figure {
      width: 100%;
      margin: 0;
    }

    figure.laptop {
      width: 100%;
    }

    figure.tablet {
      width: 75%;

      &.landscape {
        width: 90%;
      }
    }

    figure.phone {
      width: 45%;
    }

  }
}

@media (min-width: 48rem) {
  .gallery {
    figure {
      width: 38rem;
    }

    .collection {
      figure.tablet {
        width: 50%;
      }

      figure.phone {
        width: calc(100% / 3);
      }
    }
  }
}

@media (min-width: 64rem) {
  .gallery {
    figure {
      width: 50%;

      &.wide {
        width: 100%;
      }
    }

    .collection {
      figure.laptop {
        width: 90%;
      }

      figure.tablet {
        width: 40%;

        &.landscape {
          width: 50%;
        }
      }

      figure.phone {
        width: 25%;
      }
    }
  }
}


// PROJECT GALLERIES COLLECTION COLORS
main.delta-design-system {
  .gallery {
    .collection {
      background-color: $delta-design-system;
    }
  }
}