// RESUME GLOBAL
main.resume {

  h1,
  h2,
  h3,
  h4,
  p,
  small,
  ul,
  ol,
  dl,
  figure {
    max-width: 36rem;
    margin: 0;
  }

  .skills {
    h2+p {
      font-size: $p;
    }
  }

  .cta {
    margin: calc($p*1.5) 0;
  }
}


// RESUME INTRO
main.resume {
  .banner {
    h2 span {
      display: block;
      @include sans-regular;
      font-size: calc($p * 0.875);
      line-height: calc($p * 1.5);
      text-transform: uppercase;

    }
  }
}


// RESUME EXPERIENCE
main.resume {
  .experience {
    section:first-of-type {
      padding: $p 0 0;
    }

    h3 {
      @include sans-bold;
      font-size: $p;
      text-transform: none;

      span.dates {
        min-width: 6.25rem;
        font-size: $small;
        text-align: right;
      }

      &+p {
        padding: calc($xsmall / 2) 0 0;
        line-height: 1;
      }
    }

    p {
      padding: 0;
      @include sans-bold;
    }

    ul {
      padding: $xsmall 0 0;
      list-style: none;
    }
  }
}


// RESUME SKILLS
main.resume {
  .skills {
    ul {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 36rem;
      padding: $p 0 0;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        width: auto;
        margin: 0 calc($p * 0.5) calc($p * 0.5) 0;
        padding: calc($p * 0.25) calc($p * 0.5);
        border: 1px solid;
        border-radius: $p;
        font-size: $small;
        line-height: 1;
      }
    }
  }
}


// RESUME CONTACT
main.resume {
  .contact {
    ul {
      flex-direction: row;
      width: 100%;
      padding-left: 0;
      list-style: none;

      li {
        width: auto;
        padding: 0 $p 0 0;

        &:last-child {
          padding: 0;
        }

        a {
          display: flex;
          align-items: center;

          svg {
            width: 1.125rem;
            height: 1.125rem;
            margin-right: calc($p * 0.25);
          }
        }
      }
    }
  }
}