@import "mixins";
@import "variables";
@import "fonts";


// HTML
html {
  width: 100%;
  min-width: 100%;
  margin: 0 auto;
  padding: 0;
  @include sans-regular;
  font-size: 16px;
  color: black;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

@media (min-width: 30rem) {
  @media (min-width: 90rem) or (-webkit-min-device-pixel-ratio: 2) or (min-resolution: 2dppx) {
    html {
      font-size: 18px;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  * {
    animation: none !important;
    @include transition(none !important);
  }
}


// BODY
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: white;
}


// GLOBAL
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: inline-grid;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

a {
  @include sans-bold;
  text-decoration: none;
  color: $green;
  @include transition(color);

  &:hover,
  &:focus {
    color: $orange;
  }
}