// BLOCKQUOTES
blockquote {
  display: block;
  position: relative;
  width: 100%;
  max-width: 36rem;
  margin: 2rem auto 1rem;
  padding: 2rem 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: $gray;

  &:before {
    display: block;
    position: absolute;
    top: -0.75rem;
    left: calc(50% - 1.5rem);
    width: 3rem;
    height: 1.5rem;
    text-align: center;
    background-color: white;
    content: url(../icons/double-quotes-l.svg);
    @include transform(scale(1.5));
  }

  p {
    padding: 0;
    @include sans-bold;
    line-height: 1.75;
  }
}

@media (min-width: 56rem) {
  blockquote {
    margin: 4rem auto 3rem;

    p {
      max-width: 40rem;
      font-size: calc($p * 1.25);
    }

    &:before {
      @include transform(scale(2));
    }
  }
}