// CTAS
.cta {
  display: block;
  width: 100%;
  max-width: 36rem;
  margin: calc($p * 1.5) auto 0;
  font-size: $p;
  line-height: 1;

  a {
    display: inline-flex;
    align-items: center;
    line-height: 1;

    svg {
      display: grid;
      width: $p;
      height: $p;
      margin: 0 0 0 calc($p * 0.25);
      stroke-width: 2;
      @include transition(margin);
    }

    &:hover,
    &:focus {
      svg {
        margin: 0 0 0 calc($p * 0.5);
      }
    }
  }
}