// CTAS
.cta {
  width: 100%;
  max-width: 36rem;
  margin: calc($p * 1.5) auto 0;
  line-height: 1;

  a {
    display: inline-flex;
    align-items: center;
    line-height: 1;

    svg {
      display: grid;
      width: 1rem;
      height: 1rem;
      margin: 0 0 0 0.25rem;
      stroke-width: 2;
      @include transition(margin);
    }

    &:hover,
    &:focus {
      svg {
        margin: 0 0 0 0.5rem;
      }
    }
  }
}