// DARK MODE
html.dark {
  color: white;
  body {
    background: $green-dark;
    background: $gray-dark;
  }
  a {
    color: white;
    &:hover, &:focus {
      color: $orange;
    }
  }
}


// NAV DARK MODE
html.dark {
  nav {
    ul {
      li {
        color: $gray-mid;
        &:first-child {
          color: white;
        }
      }
    }
  }
}


// FOOTER DARK MODE
html.dark {
  footer {
    .branding {
      form {
        fieldset {
          label {
            color: white;
            input[type="checkbox"] {
              border-color: white;
              &:after {
                background: white;
              }
            }
          }
        }
      }
    }
  }
}


// CARDS DARK MODE
html.dark {
  .card {
    &:before {
      background: white;
    }
  }
}


// RESUME SKILLS DARK MODE
html.dark {
  .skills {
    ul {
      li {
        div {
          background: $green-dark;
          background: $gray-dark;
          & > span {
            background: $cream;
            background: white;
          }
        }
      }
    }
  }
}


// BLOCKQUOTES DARK MODE
html.dark {
  blockquote {
    border-color: $cream;
  }
}
