// DARK MODE GLOBAL SETTINGS
html.dark {
  color: white;

  body {
    background: $green-dark;
  }

  a {
    color: white;

    &:hover,
    &:focus {
      color: $orange;
    }
  }
}


// HEADER + NAV DARK MODE
html.dark {
  header {
    background: $green-dark;

    nav {
      button.menu-toggle {
        color: white;
      }
    }
  }

  nav {
    ul {
      li {
        color: $gray-mid;

        &:first-child {
          color: white;
        }
      }
    }
  }
}


// THEME SWITCH DARK MODE
html.dark {
  form {
    fieldset {
      label {
        color: white;

        input[type="checkbox"] {
          border-color: white;

          &:after {
            background: white;
          }
        }
      }
    }
  }
}


// SKIP DARK MODE
html.dark {
  .skip {
    background: $green-dark;
  }
}


// BLOCKQUOTES DARK MODE
html.dark {
  blockquote {
    border-color: white;

    &:before {
      background-color: $green-dark;
    }
  }
}


// HOME PAGE DARK MODE
html.dark {
  main.home {
    .banner.intro {
      background-blend-mode: soft-light;
      background-color: $green-dark;
    }

    .selected-projects {
      figure.transferx {
        figcaption {
          z-index: 10;
          background-color: $green-dark;
        }
      }
    }
  }
}


// PROJECT GALLERIES
html.dark {

  main.delta-design-system,
  main.east-wind,
  main.enservio,
  main.mystuff,
  main.panera,
  main.transferx {
    .gallery .collection {
      background-color: $green-dark;
    }
  }
}


// EAST WIND DARK MODE
html.dark {
  main.east-wind {
    figure.logo {
      svg {
        fill: white;
      }
    }
  }
}


// TRANSFERX DARK MODE
html.dark {
  main.transferx {
    figure.marks {
      .icon svg path {
        fill: white;
      }
    }
  }
}