// DARK MODE/LIGHT MODE FORM
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 1rem 0 0;

  fieldset {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      margin: 0;
      color: $green;

      span {
        width: 1.25rem;
        height: 1.25rem;
      }

      input[type="checkbox"] {
        position: relative;
        top: 0;
        right: 0;
        width: 2rem;
        min-width: 2rem;
        height: 1rem;
        margin: 0 0.5rem;
        padding: 0;
        border: 1px solid $green;
        border-radius: 2rem;
        @include appearance(none);

        &:after {
          display: block;
          position: absolute;
          top: 0.125rem;
          left: 0.125rem;
          width: 0.625rem;
          height: 0.625rem;
          border-radius: 100%;
          background: $green;
          content: "";
          @include transition(all, 0.25s, ease);
        }

        &:checked:after {
          margin-left: 1rem;
        }
      }
    }
  }
}


// DARK MODE
html.dark {
  color: white;

  body {
    background: $green-dark;
  }

  a {
    color: white;

    &:hover,
    &:focus {
      color: $orange;
    }
  }
}


// NAV DARK MODE
html.dark {
  header {
    background: $green-dark;

    nav {
      button.menu-toggle {
        color: white;
      }
    }
  }

  nav {
    ul {
      li {
        color: $gray-mid;

        &:first-child {
          color: white;
        }
      }
    }
  }
}


// THEME SWITCH DARK MODE
html.dark {
  form {
    fieldset {
      label {
        color: white;

        input[type="checkbox"] {
          border-color: white;

          &:after {
            background: white;
          }
        }
      }
    }
  }
}


// SKIP DARK MODE
html.dark {
  .skip {
    background: $green-dark;
  }
}


// CARDS DARK MODE
html.dark {
  .card {
    &:before {
      background: white;
    }
  }
}


// RESUME SKILLS DARK MODE
html.dark {
  .skills {
    ul {
      li {
        div {
          background: $green-dark;
          background: $gray-dark;

          &>span {
            background: $cream;
            background: white;
          }
        }
      }
    }
  }
}


// BLOCKQUOTES DARK MODE
html.dark {
  blockquote {
    border-color: white;

    &:before {
      background-color: $green-dark;
    }
  }
}


// FIGURES & GALLERIES
html.dark {
  .gallery {
    background: transparent;
  }

  article.project.delta-design-system,
  article.project.enservio,
  article.project.mystuff,
  article.project.panera,
  article.project.transferx {
    .gallery {
      background: transparent;
    }
  }

  article.project.east-wind figure.logo svg,
  article.project.transferx figure.marks .icon svg path {
    fill: white;
  }
}


// INTRO BANNERS
html.dark {
  .banner.intro {
    background-color: $green-dark;
  }

  .banner.intro.welcome {
    background-blend-mode: soft-light;
  }

  @media (orientation: landscape) {

    .banner.intro.delta-design-system,
    .banner.intro.enservio,
    .banner.intro.transferx {
      color: black;

      a {
        color: $green;

        &:hover,
        &:focus {
          color: $orange;
        }
      }
    }
  }
}


// RESUME SKILLS
html.dark {
  article.resume {
    section.skills ul li div {
      background: $gray-dark;

      &>span.animate {
        background: $cream;
      }
    }
  }
}