// DELTA DESIGN SYSTEM INTRO BANNER
main.delta-design-system {
  section.banner.intro {
    justify-content: flex-start;
    padding: 4rem 2rem;
    div.text {
      padding: 1rem 0 0;
    }
  }
  section {
    padding: 2rem;
  }
}