// FOOTER
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 2rem;
  nav {
    ul {
      text-align: center;
      &:last-of-type {
        display: none;
      }
    }
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 2rem 0 0.5rem;
    svg {
      display: grid;
      width: 100%;
      max-width: 8rem;
    }
  }
  .theme-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 0;
      fieldset {
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        label {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          width: 100%;
          margin: 0;
          height: 1.25rem;
          font-size: $small;
          text-transform: uppercase;
          input[type="checkbox"] {
            position: relative;
            top: 0;
            right: 0;
            width: 2.5rem;
            height: 1.25rem;
            margin: 0 0 0 0.5rem;
            padding: 0;
            border: 1px solid black;
            border-radius: 2rem;
            appearance: none;
            &:after {
              display: block;
              position: absolute;
              top: 0.125rem;
              left: 0.125rem;
              width: 0.875rem;
              height: 0.875rem;
              border-radius: 100%;
              background: black;
              content: "";
              @include transition(all, 0.25s, ease);
            }
            &:checked:after {
              margin-left: 1.25rem;
            }
          }
        }
      }
    }
  }
  .copyright {
    display: block;
    width: 100%;
    text-align: center;
    small {
      max-width: none;
      font-size: $xsmall;
    }
  }
}

@media (min-width: 48rem) {
  footer {
    nav {
      width: 75%;
      ul {
        width: calc((100% / 3) - 1rem);
        text-align: left;
        &:last-of-type {
          display: flex;
        }
      }
    }
    .logo {
      align-items: flex-end;
      justify-content: flex-end;
      width: 25%;
      padding: 0;
    }
    .theme-switch {
      form {
        align-items: flex-end;
        fieldset {
          width: 25%;
          label {
            justify-content: space-between;
          }
        }
      }
    }
    .copyright {
      text-align: right;
      small {
        padding-top: 2rem;
      }
    }
  }
}
