// SKIP
.skip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: white;

  p {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    padding: 0;
    font-size: $small;
    text-align: center;

    a {
      height: 4rem;
      min-height: 4rem;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      opacity: 0;
      @include transform(translateY(-4rem));
      @include transition(all, 0.25s, ease);

      &:focus {
        padding: 1rem;
        opacity: 1;
        @include transform(translateY(0));
      }
    }
  }
}


// BANNERS
.banner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 4rem 2rem;
  background-repeat: no-repeat;

  div.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.25;
  }

  div.text {
    z-index: 10;
  }
}


// CTAS
ul.cta {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  list-style: none;

  li {
    padding: 1.5rem 0 0;
    // font-size: $small;
  }

  li a {
    display: flex;
    flex-direction: row;
    align-items: center;

    span.icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.75rem;
      max-width: 1.75rem;
      min-width: 1.75rem;
      height: 1.75rem;
      max-height: 1.75rem;
      min-height: 1.75rem;
      margin: 0;
      padding: 0.125rem;
      border: 1px solid;
      border-radius: 100%;

      svg {
        width: 100%;
        height: 100%;
        @include transform-origin(center);
        @include transition(all, 0.25s, ease);
      }
    }

    span.label {
      overflow: hidden;
      padding: 0 0 0 0.5rem;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    span.icon svg,
    span.label {
      @include transition(all, 0.25s, ease);
    }

    &.down {
      span.icon svg {
        @include transform(translateY(0) (scale(0.75)));
      }

      span.label {
        @include transform(translateY(0));
      }
    }

    &.page {
      span.icon svg {
        @include transform(translateY(0) (scale(0.75)));
      }

      span.label {
        @include transform(translateX(0));
      }
    }

    &:hover,
    &:focus {
      &.down {
        span.icon svg {
          @include transform(translateY(1.75rem) (scale(1)));
        }
      }

      &.page {
        span.icon svg {
          @include transform(translateX(1.75rem) (scale(1)));
        }

        span.label {
          @include transform(translateX(1.75rem));
        }
      }
    }

    &:active {
      &.down {
        span.icon svg {
          @include transform(translateY(0) (scale(0.75)));
          ;
        }

        span.label {
          @include transform(translateY(0));
        }
      }

      &.page {
        span.icon svg {
          @include transform(translateX(0) (scale(0.75)));
          ;
        }

        span.label {
          @include transform(translateX(0));
        }
      }
    }
  }
}

@media (min-width: 64rem) {
  ul.cta {
    flex-direction: row;

    li {
      width: auto;
      padding-right: 4rem;

      &:last-of-type {
        padding: 1.5rem 0 0 0;
      }
    }

    li a {
      span.icon {
        width: 2rem;
        max-width: 2rem;
        min-width: 2rem;
        height: 2rem;
        max-height: 2rem;
        min-height: 2rem;
      }
    }
  }
}


// HOME PAGE
main.home {
  section {
    background-color: white;
  }
}


// HOME PAGE: ABOUT ME
main.home {
  section.about-me {
    div.text {
      padding: 1rem 0 0;

      ul.about-me,
      ul.favorite-tools {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        padding: 0;
        list-style: none;

        li {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          width: auto;
          max-width: 50%;
          padding: 0.25rem 1rem 0;
          @include sans-bold;
          font-size: $small;
          text-transform: uppercase;

          svg {
            display: grid;
            width: 2rem;
            height: 2rem;
            margin-bottom: 0.25rem;
          }

        }

        li:nth-of-type(1) {
          padding-left: 0;
        }

        li:nth-of-type(2),
        li:nth-of-type(3) {
          display: none;
        }

        li:nth-of-type(4) {
          padding-right: 0;
        }
      }

      ul.favorite-tools {

        li:nth-of-type(2),
        li:nth-of-type(3) {
          display: flex;
        }

        li:last-of-type {
          display: none;
        }
      }

      ul.cta {
        padding: 1rem 0 0;
      }
    }
  }
}

@media (min-width: 40rem) {
  main.home {
    section.about-me {
      div.text {
        ul.about-me {
          li:nth-of-type(2) {
            display: flex;
          }
        }
      }
    }
  }
}

@media (min-width: 48rem) {
  main.home {
    section.about-me {
      div.text {

        ul.about-me,
        ul.favorite-tools {

          li:nth-of-type(3),
          li:last-of-type {
            display: flex;
          }
        }
      }
    }
  }
}

@media (min-width: 64rem) {
  main.home {
    section.about-me {
      color: white;
      background-attachment: fixed;
      background-blend-mode: hard-light;
      background-color: rgba($color: #000000, $alpha: 0.25);
      background-image: url(../images/mug-2x.jpg);
      background-position: right center;
      background-size: cover;

      img {
        display: none;
      }

      div.text {
        padding: 0;

        h2 {
          padding: 0;
        }

        ul.cta {
          li a {
            color: white;
          }
        }
      }
    }
  }
}


// HOME PAGE: SELECTED PROJECTS
main.home {
  section.projects {
    padding: 2rem;

    div.project {
      display: flex;
      flex-direction: column-reverse;
      overflow: hidden;
      max-width: 100%;
      padding: 2rem 0 0;

      figure:nth-of-type(2) {
        display: none;
      }

      div.text {
        padding: 1rem 0 0;
      }
    }
  }
}

@media (min-width: 40rem) or (orientation: landscape) {
  main.home {
    section.projects {
      div.project {
        align-items: center;
        flex-direction: row;
        padding: 1rem 0;

        figure {
          width: 40%;
        }

        div.text {
          width: 60%;
          padding: 0 2rem 0 0;
        }
      }
    }
  }
}

@media (min-width: 90rem) {
  main.home {
    section.projects {
      div.project {
        div.text {
          width: 40%;
          min-width: 40%;
        }

        figure {
          width: 35%;
          min-width: 35%;
        }

        figure:nth-of-type(2) {
          display: flex;
          margin-left: 2rem;
        }
      }
    }
  }
}