// RESUME
main.resume {
  section {
    padding: 2rem;

    &>section {
      padding: 2rem 0;
    }
  }
}


// RESUME INTRO
main.resume {
  section.banner.intro {
    div.text {
      h2 {
        span {
          display: block;
          @include sans-regular;
          font-size: calc($p * 0.875);
          line-height: calc($p * 1.5);
          text-transform: uppercase;
        }
      }
    }

    section.skills {
      display: none;

      ul {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 36rem;
        padding: 1rem 0 0;
        list-style: none;

        li {
          display: flex;
          align-items: center;
          width: auto;
          margin: 0 0.5rem 0.5rem 0;
          padding: 0.25rem 0.5rem;
          border: 1px solid;
          border-radius: 1rem;
          font-size: $small;
          line-height: 1;
        }

      }
    }

    section.contact {
      display: none;

      ul {
        display: flex;
        flex-direction: row;
        padding: 0.5rem 0 0;
        list-style: none;

        li {
          width: auto;
          padding: 0 1rem 0 0;

          a {
            svg {
              display: grid;
              width: 1.75rem;
              height: 1.75rem;
            }

            span {
              display: none;
            }
          }

        }
      }
    }
  }
}


// RESUME EXPERIENCE
main.resume {
  article.resume {
    section.experience {
      section.job {
        padding: 1rem 0;

        h3 {
          display: flex;
          flex-direction: column;
          font-size: calc($h4 * 1.2);
          line-height: 1.25;

          span.dates {
            font-size: $small;
          }
        }

        p {
          @include sans-bold;
        }

        ul {
          padding: 1rem 0 0;
          list-style: none;
        }
      }

      section.job:last-of-type {
        padding-bottom: 0;
      }
    }
  }
}

@media (min-width: 40rem) {
  main.resume {
    article.resume {
      section.experience {
        section.job {
          h3 {
            align-items: center;
            flex-direction: row;
            line-height: 1;

            span.dates {
              padding: 0 0 0 1rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 64rem) {
  main.resume {
    article.resume {
      section.experience {
        section.job {
          padding: 1.5rem 0 1rem;

          &:last-of-type {
            padding-bottom: 0;
          }

          h3 {
            justify-content: space-between;
            max-width: 36rem;
          }
        }
      }
    }
  }
}


// RESUME SKILLS
main.resume {
  article.resume {
    section.skills {
      ul {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 36rem;
        padding: 1rem 0 0;
        list-style: none;

        li {
          display: flex;
          align-items: center;
          width: auto;
          margin: 0 0.5rem 0.5rem 0;
          padding: 0.25rem 0.5rem;
          border: 1px solid;
          border-radius: 1rem;
          font-size: $small;
          line-height: 1;
        }

      }
    }
  }
}


// RESUME CONTACT
main.resume {
  article.resume {
    section.contact {
      ul {
        display: flex;
        flex-direction: row;
        padding: 0.5rem 0 0;
        list-style: none;

        li {
          width: auto;
          padding: 0 1rem 0 0;

          a {
            svg {
              display: grid;
              width: 1.75rem;
              height: 1.75rem;
            }

            span {
              display: none;
            }
          }

        }
      }
    }
  }
}


// WIDESCREEN RESUME
@media (min-width: 64rem) {
  main.resume {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    section.banner.intro {
      width: 45%;
      max-width: 45%;
      min-width: 45%;
      min-height: auto;
      padding: 4rem 2rem 2rem;

      div.text {
        padding: 0 0 2rem 0;
      }

      section.contact {
        display: block;

        h2+p {
          font-size: $p;
        }

        ul {
          flex-direction: column;

          li {
            padding: 0.5rem 0;

            a {
              display: flex;
              align-items: center;

              span {
                display: block;
                padding: 0 0 0 0.5rem;
                @include sans-regular;
              }
            }
          }
        }

      }

      section.skills {
        display: block;
      }

    }

    article.resume {
      padding-top: 3.5rem;

      section.skills,
      section.contact {
        display: none;
      }
    }
  }
}