// TYPOGRAPHY
h1, h2, h3, h4, p, small {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  @include sans-regular;
  line-height: 1;
}

h1 {
  padding: 2rem 0 0;
	font-size: $h1;
}

h2 {
  padding: 1.5rem 0 0;
	font-size: $h2;
}

h3 {
  padding: 1.5rem 0 0;
	font-size: $h3;
}

h4 {
  padding: 1.5rem 0 0;
	font-size: $h4;
}

p {
  max-width: 36rem;
  padding: 1rem 0 0;
	font-size: $p;
  line-height: 1.5;
}

p > cite {
  display: block;
  font-size: $small;
}

p > cite a {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

strong, em, b {
  display: inline;
  @include sans-bold;
  color: inherit;
}

small, .small {
  max-width: 28rem;
  padding: 0.5rem 0 0;
	font-size: $small;
	line-height: 1.5;
}

.visuallyhidden {display: none;}


// TEXT ALIGNMENT
h1.center, h2.center, h3.center, p.center, strong.center, em.center, small.center {
  margin: 0 auto;
  text-align: center;
}

h1.right, h2.right, h3.right, p.right, strong.right, em.right, small.right {
  text-align: right;
}

// H > P SPACING
h1 + p, h2 + p, h3 + p, h4 + p,
h1 + ul, h2 + ul, h3 + ul, h4 + ul,
h1 + ol, h2 + ol, h3 + ol, h4 + ol,
h1 + dl, h2 + dl, h3 + dl, h4 + dl {
  padding-top: 0.5rem;
}


// H SPANS
h1, h2, h3, h4 {
  span {
    display: block;
    line-height: 1.75;
    text-transform: uppercase;
  }
  &:first-child {
    padding: 0;
  }
}

h1 {
  span {
    font-size: calc(0.425 * #{$h1});
  }
}

h2 {
  span {
    font-size: calc(0.425 * #{$h2});
  }
}

h3 {
  span {
    font-size: calc(0.425 * #{$h3});
  }
}

h4 {
  span {
    font-size: calc(0.425 * #{$h4});
  }
}


// TITLE SIZES
@media (min-width: 48rem) {
  h1.title {
    margin: 0;
    font-size: calc(1.5 * #{$h1});
    & + p {
      max-width: calc(1.5 * 36rem);
      font-size: calc(1.5 * #{$p});
    }
  }
  h2.title {
    margin: 0;
    font-size: calc(1.25 * #{$h2});
    & + p {
      max-width: calc(1.25 * 36rem);
      font-size: calc(1.25 * #{$p});
    }
  }
  h3.title {
    font-size: $h2;
  }
}

@media (min-width: 64rem) {
  h1.title {
    font-size: calc(2 * #{$h1});
  }
  h2.title {
    font-size: calc(1.75 * #{$h2});
  }
  h3.title {
    font-size: $h1;
  }
}


// LISTS
ul, ol, dl {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  li, dt, dd {
    display: list-item;
    width: 100%;
    margin: 0;
    padding: 1rem 0 0;
    font-size: $p;
    line-height: 1.5;
    &:first-child {
      padding: 0;
    }
  }
}

ul {
  padding: 1rem 0 0 1.5rem;
  list-style: disc;
  &.no-bullets {
    padding-left: 0;
    list-style: none;
  }
}

ol {
  padding: 1rem 0 0;
  list-style: none;
  counter-reset: count;
  &:first-child {
    padding: 0;
  }
  li {
    display: flex;
    align-items: center;
    span {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      position: relative;
      width: auto;
      min-width: 3.5rem;
      margin: 0;
    }
    span::before {
      display: flex;
      align-items: center;
      flex: 0 1 auto;
      margin: 0 1rem 0 0;
      border-right: 1px solid;
      @include sans-bold;
      font-size: 150%;
      counter-increment: count;
      content: "0" counter(count);
    }
  }
}

dl {
  padding: 1rem 0 0;
  dt {
    padding: 0;
    @include sans-bold;
  }
  dd {
    padding: 0 0 1.5rem;
    &:last-of-type {
      padding: 0;
    }
  }
}
