// VARIABLES
:root {
  --green: #384332;
  --orange: #af4433;
  --cream: #eef1e8;
  --delta-design: #003442;
  --delta-design-light: #eeeeee;
  --east-wind: #552a80;
  --east-wind-light: #eeeaf2;
  --eberhardt-design: #ffe151;
  --eberhardt-design-light: #665a20;
  --enservio: #2e84ed;
  --enservio-light: #eaf3fd;
  --mystuff: #cd2183;
  --mystuff-light: #fae9f3;
  --panera: #4c753f;
  --panera-light: #e9f0e5;
  --pine-tree-motel: #34421e;
  --pine-tree-motel-light: #34421e;
  --transferx: #0d1e27;
  --transferx-light: #f0f5f8;
  --gray: #e5e5e5;
  --h1: 2.441rem;
  --h2: 1.953rem;
  --h3: 1.563rem;
  --h4: 1.25rem;
  --p: 1rem;
  --small: 0.8rem;
  --xsmall: 0.64rem;
}

$green: var(--green);
$orange: var(--orange);
$cream: var(--cream);
$delta-design: var(--delta-design);
$delta-design-light: var(--delta-design-light);
$east-wind: var(--east-wind);
$east-wind-light: var(--east-wind-light);
$eberhardt-design: var(--eberhardt-design);
$eberhardt-design-light: var(--eberhardt-design-light);
$enservio: var(--enservio);
$enservio-light: var(--enservio-light);
$mystuff: var(--mystuff);
$mystuff-light: var(--mystuff-light);
$panera: var(--panera);
$panera-light: var(--panera-light);
$pine-tree-motel: var(--pine-tree-motel);
$pine-tree-motel-light: var(--pine-tree-motel-light);
$transferx: var(--transferx);
$transferx-light: var(--transferx-light);
$gray: var(--gray);
$h1: var(--h1);
$h2: var(--h2);
$h3: var(--h3);
$h4: var(--h4);
$p: var(--p);
$small: var(--small);
$xsmall: var(--xsmall);
