<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <base href="../../../">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Typography</title>
    <meta name="description" content="I have more than 20 years of experience solving problems in cross-functional settings for a wide range of B2B and B2C products, platforms, and services, including retail, e-commerce, and fintech. I specialize in UX and UI design, responsive web design, and design systems.">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
    <link rel="mask-icon" href="assets/icons/safari-pinned-tab.svg" color="#384332">
    <link rel="shortcut icon" href="assets/icons/favicon.ico">
    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="assets/css/master.css">
  </head>
  <body>
    <main>
      <article>
        <section class="row wide border">
          <h1>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</h1>
          <h2 style="padding: 1.5rem 0 0;">The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</h2>
          <h3>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</h3>
          <h4>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</h4>
          <p style="padding: 1rem 0;">The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</p>
          <small>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</small>
          <ul>
            <li>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</li>
            <li>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</li>
          </ul>
          <ol>
            <li><span></span>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</li>
            <li><span></span>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</li>
          </ol>
          <dl>
            <dt>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</dt>
            <dd>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</dd>
            <dt>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</dt>
            <dd>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</dd>
          </dl>
        </section>
        <section class="row wide">
          <h1 class="title">The quick brown fox jumps over a lazy dog.</h1>
          <p>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</p>
        </section>
        <section class="row wide border">
          <h2 class="title">The quick brown fox jumps over a lazy dog.</h2>
          <p>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</p>
        </section>
        <section class="row wide">
          <h1><span>Header span</span>The quick brown fox jumps over a lazy dog.</h1>
          <h2 style="padding: 1.5rem 0 0;"><span>Header span</span>The quick brown fox jumps over a lazy dog.</h2>
          <h3><span>Header span</span>The quick brown fox jumps over a lazy dog.</h3>
          <h4><span>Header span</span>The quick brown fox jumps over a lazy dog.</h4>
        </section>
        <section class="row wide">
          <h2 class="visuallyhidden">Project specs list</h2>
          <ul class="project-spec">
            <li><span>Caption:</span>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</li>
            <li><span>Caption:</span>The quick brown fox jumps over a lazy dog. T*he quick brown fox jumps over* a lazy dog.</li>
            <li class="small"><span>Caption:</span>
              <ul>
                <li><a>Link</a></li>
                <li><a>Link</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </article>
    </main>
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>